# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

ios


/android/**

!android/app/
!android/app/src/
!android/app/src/main/
!android/app/src/main/java/
!android/app/src/main/java/com/
!android/app/src/main/java/com/displaynone/
!android/app/src/main/java/com/displaynone/lissn/
!android/app/src/main/java/com/displaynone/lissn/albums
!android/app/src/main/java/com/displaynone/lissn/artists
!android/app/src/main/java/com/displaynone/lissn/assets
!android/app/src/main/java/com/displaynone/lissn/exceptions
!android/app/src/main/java/com/displaynone/lissn/folders
!android/app/src/main/java/com/displaynone/lissn/genres
!android/app/src/main/java/com/displaynone/lissn/models

!android/app/src/main/java/com/displaynone/lissn/folders/GetFolders.kt
!android/app/src/main/java/com/displaynone/lissn/folders/GetFolderAssets.kt
!android/app/src/main/java/com/displaynone/lissn/genres/GetGenreAssets.kt
!android/app/src/main/java/com/displaynone/lissn/genres/GetGenres.kt
!android/app/src/main/java/com/displaynone/lissn/albums/GetAlbums.kt
!android/app/src/main/java/com/displaynone/lissn/albums/GetAlbumAssets.kt
!android/app/src/main/java/com/displaynone/lissn/ExpoMusicLibraryView.kt
!android/app/src/main/java/com/displaynone/lissn/models/Asset.kt
!android/app/src/main/java/com/displaynone/lissn/Exceptions.kt
!android/app/src/main/java/com/displaynone/lissn/artists/GetArtistAssets.kt
!android/app/src/main/java/com/displaynone/lissn/artists/GetArtists.kt
!android/app/src/main/java/com/displaynone/lissn/MusicLibraryUtils.kt
!android/app/src/main/java/com/displaynone/lissn/MusicLibraryEnums.kt
!android/app/src/main/java/com/displaynone/lissn/MainActivity.kt
!android/app/src/main/java/com/displaynone/lissn/ExpoMusicLibraryPackage.kt
!android/app/src/main/java/com/displaynone/lissn/ExpoMusicLibraryModule.kt
!android/app/src/main/java/com/displaynone/lissn/MainApplication.kt
!android/app/src/main/java/com/displaynone/lissn/assets/AssetOptions.kt
!android/app/src/main/java/com/displaynone/lissn/assets/GetAssetsQuery.kt
!android/app/src/main/java/com/displaynone/lissn/assets/AssetUtils.kt
!android/app/src/main/java/com/displaynone/lissn/assets/GetAssets.kt
!android/app/src/main/java/com/displaynone/lissn/MusicLibraryConstants.kt
!android/app/src/main/java/com/displaynone/lissn/AudioNotificationService.kt
!android/app/src/main/java/com/displaynone/lissn/AudioNotificationModule.kt
!android/app/src/main/java/com/displaynone/lissn/MediaSessionHelper.kt
!android/app/src/main/java/com/displaynone/lissn/AudioNotificationReceiver.kt
!android/app/src/main/java/com/displaynone/lissn/AudioNotificationPackage.kt
!android/app/src/main/AndroidManifest.xml

!android/app/src/main/res/
!android/app/src/main/res/drawable/
!android/app/src/main/res/drawable/ic_music_note.xml
!android/app/src/main/res/drawable/ic_close.xml
!android/app/src/main/res/drawable/ic_play.xml
!android/app/src/main/res/drawable/ic_next.xml
!android/app/src/main/res/drawable/ic_pause.xml
!android/app/src/main/res/drawable/ic_prev.xml

android/app/src/debug/AndroidManifest.xml
